BODY {
  line-height: 1.5;
}

LI {
  margin-top: 1ex;
}

H1 {
  font-size: 3em;
}

H2 {
  border-bottom: 1px solid grey;
  font-weight: bolder;
}

H3 {
  font-style: italic;
  font-weight: bold;


}

P {
  text-align: justify;
  text-justify: inter-word;
}

H1,H2 {
  font-variant: small-caps;
}
/*
These style abbreviations are as follows:
SS = "screen shot" for menu items etc.
FN = filename
TX = text
*/

SS {
  font-family: "Lucida Grande", sans-serif;
  font-size: 80%;
  font-weight: bolder;
  color: black;
  text-align: center;
  border-radius: 5px;
  background: lightsteelblue;
  padding: 0.3ex 1ex;

}

FN {
  font-family: "Lucida Grande", sans-serif;
  font-size: 80%;
  color: black;
  text-align: center;
  padding: 0.3ex 1ex;
  border: solid thin black;
  border-radius: 4px;
}

TX {
  font-family: monospace;
  font-weight: bolder;
}

/* put images in centre */
IMG {
  padding: 1em 1em;
}

.navbar-brand {
  font-weight: bolder;
}
/*
These are for "info boxes" in mkdocs

 !!! note
     This is a note.
*/

.admonition {
  border: solid black thin;
  margin: 1ex 0;
  padding: 1ex;
  margin: 2ex;
}

.admonition-title {
  font-size: larger;
  font-weight: bold;
  //font-style: italic;
}

.hint {
  background-color: green;
}
.note {
  background-color: orange;
}
.warning {
  background-color: red;
}
